In [3]:
import pandas as pd
price_history_df = pd.read_csv("blockchain_data/blockchain_data/price_history_array_050521_102922.csv")

In [4]:
type(price_history_df)

pandas.core.frame.DataFrame

In [5]:
price_history_df.head()

,Unnamed: 0,Hour,0,1,2,3,4,5,6,7,...,14,15,16,17,18,19,20,21,22,23
0,0,1620338400,3474.791265,3483.248694,3491.884808,3470.718198,3455.822146,3457.357175,3407.356727,3424.183462,...,3504.442358,3538.594662,3564.574686,3565.055348,3459.730461,3474.723140,3457.365888,3504.959753,3522.685901,3485.844843
1,1,1620342000,3483.248694,3491.884808,3470.718198,3455.822146,3457.357175,3407.356727,3424.183462,3442.141615,...,3538.594662,3564.574686,3565.055348,3459.730461,3474.723140,3457.365888,3504.959753,3522.685901,3485.844843,3510.378780
2,2,1620345600,3491.884808,3470.718198,3455.822146,3457.357175,3407.356727,3424.183462,3442.141615,3450.970580,...,3564.574686,3565.055348,3459.730461,3474.723140,3457.365888,3504.959753,3522.685901,3485.844843,3510.378780,3468.342720
3,3,1620349200,3470.718198,3455.822146,3457.357175,3407.356727,3424.183462,3442.141615,3450.970580,3519.856568,...,3565.055348,3459.730461,3474.723140,3457.365888,3504.959753,3522.685901,3485.844843,3510.378780,3468.342720,3419.408290
4,4,1620352800,3455.822146,3457.357175,3407.356727,3424.183462,3442.141615,3450.970580,3519.856568,3507.845719,...,3459.730461,3474.723140,3457.365888,3504.959753,3522.685901,3485.844843,3510.378780,3468.342720,3419.408290,3424.902830