In [9]:
import pandas as pd
price_history_df = pd.read_csv("blockchain_data/blockchain_data/price_history_array_050521_102922.csv")
total_liquidity = pd.read_csv("blockchain_data/blockchain_data/total_liquidity_array_050521_102922.csv")
volume = pd.read_csv("blockchain_data/blockchain_data/volume_array_050521_102922.csv")

In [10]:
def tick2Price(tick):
        rawprice = 1.0001**tick
        return (10 ** (18 - 6)) / rawprice

In [10]:
price_history_df

,Unnamed: 0,Hour,0,1,2,3,4,5,6,7,...,14,15,16,17,18,19,20,21,22,23
0,0,1620338400,3474.791265,3483.248694,3491.884808,3470.718198,3455.822146,3457.357175,3407.356727,3424.183462,...,3504.442358,3538.594662,3564.574686,3565.055348,3459.730461,3474.723140,3457.365888,3504.959753,3522.685901,3485.844843
1,1,1620342000,3483.248694,3491.884808,3470.718198,3455.822146,3457.357175,3407.356727,3424.183462,3442.141615,...,3538.594662,3564.574686,3565.055348,3459.730461,3474.723140,3457.365888,3504.959753,3522.685901,3485.844843,3510.378780
2,2,1620345600,3491.884808,3470.718198,3455.822146,3457.357175,3407.356727,3424.183462,3442.141615,3450.970580,...,3564.574686,3565.055348,3459.730461,3474.723140,3457.365888,3504.959753,3522.685901,3485.844843,3510.378780,3468.342720
3,3,1620349200,3470.718198,3455.822146,3457.357175,3407.356727,3424.183462,3442.141615,3450.970580,3519.856568,...,3565.055348,3459.730461,3474.723140,3457.365888,3504.959753,3522.685901,3485.844843,3510.378780,3468.342720,3419.408290
4,4,1620352800,3455.822146,3457.357175,3407.356727,3424.183462,3442.141615,3450.970580,3519.856568,3507.845719,...,3459.730461,3474.723140,3457.365888,3504.959753,3522.685901,3485.844843,3510.378780,3468.342720,3419.408290,3424.902830
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12971,12971,1667034000,1499.322048,1508.189097,1544.542550,1535.559448,1534.806780,1566.615684,1557.179379,1554.144189,...,1553.070145,1572.876614,1589.080523,1582.817840,1580.500635,1585.434499,1589.377919,1626.159462,1630.020835,1626.299649
12972,12972,1667037600,1508.189097,1544.542550,1535.559448,1534.806780,1566.615684,1557.179379,1554.144189,1553.364555,...,1572.876614,1589.080523,1582.817840,1580.500635,1585.434499,1589.377919,1626.159462,1630.020835,1626.299649,1615.589306
12973,12973,1667041200,1544.542550,1535.559448,1534.806780,1566.615684,1557.179379,1554.144189,1553.364555,1564.921133,...,1589.080523,1582.817840,1580.500635,1585.434499,1589.377919,1626.159462,1630.020835,1626.299649,1615.589306,1623.166549
12974,12974,1667044800,1535.559448,1534.806780,1566.615684,1557.179379,1554.144189,1553.364555,1564.921133,1557.153306,...,1582.817840,1580.500635,1585.434499,1589.377919,1626.159462,1630.020835,1626.299649,1615.589306,1623.166549,1620.116725
12975,12975,t,1534.806780,1566.615684,1557.179379,1554.144189,1553.364555,1564.921133,1557.153306,1557.247928,...,1580.500635,1585.434499,1589.377919,1626.159462,1630.020835,1626.299649,1615.589306,1623.166549,1620.116725,1621.465635

In [34]:
import pandas as pd
import numpy as np

num_rows = 12976
window_size = 24
sequence_length = num_rows + window_size - 1  # 12999

sentiment_score = np.random.normal(loc=0.0, scale=1.0, size=sequence_length) # add the real sentiment score here
rows = [sentiment_score[i:i + window_size] for i in range(num_rows)]
column_names = [f"{i}" for i in range(window_size)]

sentiment_df = pd.DataFrame(rows, columns=column_names)

sentiment_df.insert(0, ",", df.index)
start_timestamp = 1620338400  # base UNIX timestamp
sentiment_df.insert(1, "Hour", [start_timestamp + 3600 * i for i in range(len(sentiment_df))])

print(sentiment_df.shape)   # Should print: (12976, 24)
sentiment_df  # First few rows

(12976, 26)

,",",Hour,0,1,2,3,4,5,6,7,...,14,15,16,17,18,19,20,21,22,23
0,0,1620338400,0.058032,-1.158049,-0.329464,0.154360,-0.372884,1.495163,-0.237850,0.741818,...,0.985783,0.096241,0.098611,-1.353709,0.029250,1.172448,-0.607179,0.552783,0.802446,0.444202
1,1,1620342000,-1.158049,-0.329464,0.154360,-0.372884,1.495163,-0.237850,0.741818,-0.529860,...,0.096241,0.098611,-1.353709,0.029250,1.172448,-0.607179,0.552783,0.802446,0.444202,0.953196
2,2,1620345600,-0.329464,0.154360,-0.372884,1.495163,-0.237850,0.741818,-0.529860,0.073590,...,0.098611,-1.353709,0.029250,1.172448,-0.607179,0.552783,0.802446,0.444202,0.953196,-2.141745
3,3,1620349200,0.154360,-0.372884,1.495163,-0.237850,0.741818,-0.529860,0.073590,1.155021,...,-1.353709,0.029250,1.172448,-0.607179,0.552783,0.802446,0.444202,0.953196,-2.141745,-0.114832
4,4,1620352800,-0.372884,1.495163,-0.237850,0.741818,-0.529860,0.073590,1.155021,-1.449576,...,0.029250,1.172448,-0.607179,0.552783,0.802446,0.444202,0.953196,-2.141745,-0.114832,-0.905124
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12971,12971,1667034000,0.194935,-0.923898,0.577748,-0.171551,-0.669117,-0.734977,0.492362,0.011623,...,2.067122,-1.579304,-1.216256,-1.200513,0.966616,-0.975209,3.036506,0.338284,0.007573,-1.652462
12972,12972,1667037600,-0.923898,0.577748,-0.171551,-0.669117,-0.734977,0.492362,0.011623,0.360639,...,-1.579304,-1.216256,-1.200513,0.966616,-0.975209,3.036506,0.338284,0.007573,-1.652462,0.266472
12973,12973,1667041200,0.577748,-0.171551,-0.669117,-0.734977,0.492362,0.011623,0.360639,-1.181926,...,-1.216256,-1.200513,0.966616,-0.975209,3.036506,0.338284,0.007573,-1.652462,0.266472,-1.076517
12974,12974,1667044800,-0.171551,-0.669117,-0.734977,0.492362,0.011623,0.360639,-1.181926,0.374883,...,-1.200513,0.966616,-0.975209,3.036506,0.338284,0.007573,-1.652462,0.266472,-1.076517,-0.769061
12975,12975,1667048400,-0.669117,-0.734977,0.492362,0.011623,0.360639,-1.181926,0.374883,-0.623064,...,0.966616,-0.975209,3.036506,0.338284,0.007573,-1.652462,0.266472,-1.076517,-0.769061,1.638385

In [29]:
a

array([58, 88, 80, ..., 90, 44,  8])